/* Page styles */

body{
	margin:0px;
	padding:0px; 
}
ul,li,ol{
	margin:1px;

}
p {
color: #333;
font-family: Arial,Helvetica,Sans-Serif;
font-size: 13px;
line-height: 19px;
padding: 10;
}
h1 {
/*font:300 36px/38px "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica,sans-serif;*/
font:150 36px/38px "skolar-1","skolar-2",Georgia,serif;
font-weight: 150;
color: #111;
padding: 10;
}
h2 {
margin:20px;

}
body{
	
	font-family:Arial, Helvetica, sans-serif;
	color:#51555C;
	height:100%;
	font-size:12px;
	/*font:15px helvetica,arial,freesans,clean,sans-serif;*/
  background-color: #F3F1E5;
}
.code {
width: 700px;
padding: 20px 20px;

}
.gist-data {
background-color: skyBlue;
}
.gist-syntax {
background-color: skyBlue;
}
/* Navigation menu styles */
/*
ul{
	height:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
*/

#content-wrapper {
width: 900px;
margin: 0 auto;
}
#main-wrapper {
float: right;
width: 620px;
padding: 0 20px;

}
#sidebar-wrapper {
float: left;
width: 200px;
padding: 0 20px;

}
